<template>
  <v-card class="mx-auto my-5" max-width="450" :loading="loadingLogin">
    <v-card-title>
      <h1 class="display-1 text-center">
        Login
      </h1>
    </v-card-title>
    <v-divider />
    <v-card-text>
      <v-form @submit.prevent="signin">
        <v-text-field
          v-model="mail"
          label="E-mail"
          type="email"
          solo
          color="#edcb43"
          background-color="#242424"
          :prepend-inner-icon="svgAt"
          :disabled="loadingLogin"
        />
        <v-text-field
          v-model="password"
          color="#edcb43"
          background-color="#242424"
          :type="showPass ? 'text' : 'password'"
          :prepend-inner-icon="svgLock"
          solo
          :append-icon="showPass ? svgEye : svgEyeOff"
          label="Password"
          :disabled="loadingLogin"
          @click:append="showPass = !showPass"
        />
        <v-divider class="mb-3" />
        <v-btn text :disabled="loadingLogin" color="info" block type="submit">
          Login
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";
import { mdiLock, mdiAt, mdiEyeOff, mdiEye } from "@mdi/js";
export default Vue.extend({
  data() {
    return {
      svgLock: mdiLock,
      svgAt: mdiAt,
      svgEyeOff: mdiEyeOff,
      svgEye: mdiEye,
      showPass: false,
      mail: "",
      password: "",
      loadingLogin: false
    };
  },

  methods: {
    ...mapActions(["login"]),
    async signin() {
      this.loadingLogin = true;
      const user = { email: this.mail, password: this.password };
      await this.login(user);
      this.password = "";
      this.loadingLogin = false;
    }
  }
});
</script>
