<template>
  <svg width="300" height="300" viewBox="0 0 105 105" xmlns="http://www.w3.org/2000/svg" fill="#edcb43">
    <circle cx="50" cy="50" r="3">
        <animate attributeName="fill-opacity"
         begin="300ms" dur="600ms"
         values="1;.2;1" calcMode="linear"
         repeatCount="indefinite" />
    </circle>
</svg>
</template>

<script>
export default {
}
</script>
