<template>
  <v-app-bar flat absolute app>
    <v-toolbar-items v-if="isAuth">
      <v-btn text to="/">
        <v-toolbar-title>
          <span class="font-weight-medium display-1">DMP</span>
        </v-toolbar-title>
      </v-btn>
    </v-toolbar-items>

    <v-spacer></v-spacer>

    <v-toolbar-items v-if="isAuth" class="hidden-xs-only">
      <v-btn v-if="isAdmin" text to="/dashboard">
        <v-icon left small>{{ svgViewDashboard }}</v-icon>
        Dashboard
      </v-btn>

      <v-divider vertical />

      <v-btn text to="/about">
        <v-icon left small>
          {{ svgInformation }}
        </v-icon>
        Contact/About
      </v-btn>

      <v-divider vertical />

      <v-btn to="/tags" text>
        <v-icon left small>
          {{ svgTag }}
        </v-icon>
        Tags
      </v-btn>
      <v-divider vertical />

      <v-btn :to="{ name: 'user', params: { id: getID } }" text>
        <v-icon left small>
          {{ svgAccount }}
        </v-icon>
        Profile
      </v-btn>
      <v-divider vertical />


      <v-btn text @click="logout">
        <v-icon left small>
          {{ svgLogout }}
        </v-icon>
        logout
      </v-btn>
    </v-toolbar-items>

    <v-toolbar-items v-if="isAuth" class="d-flex d-sm-none">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn text dark v-on="on">
            <v-icon left>
              {{ svgMenu }}
            </v-icon>
            Menu
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-if="isAdmin" router to="/dashboard">
            <v-icon left>
              {{ svgViewDashboard }}
            </v-icon>
            Dashboard
          </v-list-item>
          <v-list-item router :to="{ name: 'user', params: { id: getID } }">
            <v-icon left>
              {{ svgAccount }}
            </v-icon>
            Profile
          </v-list-item>

          <v-list-item router  to="/tags" text>
            <v-icon left small>
              {{ svgTag }}
            </v-icon>
            Tags
          </v-list-item>

          <v-list-item router to="/about">
            <v-icon left>
              {{ svgInformation }}
            </v-icon>
            Contact/About
          </v-list-item>
          <v-list-item router @click="logout">
            <v-icon left>
              {{ svgLogout }}
            </v-icon>
            Logout
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar-items>

    <v-toolbar-items v-else>
      <v-btn text to="/login">
        <span>
          Login
        </span>
        <v-icon right>
          {{ svgLogin }}
        </v-icon>
      </v-btn>
      <v-divider vertical></v-divider>
      <v-btn text to="/register">
        <span>
          Register
        </span>
        <v-icon right>
          {{ svgAccountPlus }}
        </v-icon>
      </v-btn>
    </v-toolbar-items>

  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import {
  mdiLogin,
  mdiAccountPlus,
  mdiMenu,
  mdiViewDashboard,
  mdiAccount,
  mdiInformation,
  mdiLogout,
  mdiTag
} from "@mdi/js";
export default Vue.extend({
  data() {
    return {
      svgLogin: mdiLogin,
      svgAccountPlus: mdiAccountPlus,
      svgMenu: mdiMenu,
      svgViewDashboard: mdiViewDashboard,
      svgAccount: mdiAccount,
      svgInformation: mdiInformation,
      svgLogout: mdiLogout,
      svgTag: mdiTag
    };
  },
  computed: {
    ...mapGetters(["isAdmin", "isAuth", "getID"])
  },
  methods: {
    ...mapActions(["logout"])
  }
});
</script>
