<template>
  <v-snackbar v-model="displaySnack.show" :timeout="8000">
    <v-icon :color="displaySnack.status.type">
      {{ displaySnack.status.icon }}
    </v-icon>
    {{ displaySnack.status.text }}

    <v-btn text :color="displaySnack.status.type" @click.stop.prevent="close">
      close
    </v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from "vue";
import { mdiWindowClose } from "@mdi/js";
export default Vue.extend({
  data() {
    return {
      svgWindowClose: mdiWindowClose
    };
  },

  computed: {
    displaySnack() {
      return this.$store.getters.showSanck;
    }
  },

  methods: {
    close() {
      this.$store.dispatch("closeSnack");
    }
  }
});
</script>

<style></style>
