<template>
  <v-container class="fluid my-5">
    <v-row class="mb-5">
      <v-tabs v-model="tab" background-color="#121212" grow color="#edcb43">
        <v-tab href="#tab-1">
          Users
        </v-tab>
        <v-tab href="#tab-2">
          Videos
        </v-tab>
        <v-tab href="#tab-3">
          Logs
        </v-tab>
      </v-tabs>
    </v-row>
    <v-tabs-items v-model="tab">
      <v-tab-item :value="'tab-1'">
        <v-card flat>
          <app-users></app-users>
        </v-card>
      </v-tab-item>
      <v-tab-item :value="'tab-2'">
        <v-card flat>
          <app-videos />
        </v-card>
      </v-tab-item>
      <v-tab-item :value="'tab-3'">
        <v-card flat>
          <app-log></app-log>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script lang="ts">
import Users from "../Dashboard/Users.vue";
import Log from "../Dashboard/Log.vue";
import Videos from "../Dashboard/Videos.vue";
export default {
  components: {
    appUsers: Users,
    appVideos: Videos,
    appLog: Log
  },
  data() {
    return {
      tab: null
    };
  }
};
</script>
