<template>
  <v-data-table :headers="headers" :items="desserts" sort-by="Username">

    <template v-slot:top>
      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Edit video</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.id"
                    label="ID"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.user_id"
                    label="user ID"
                    disabled
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.created"
                    label="Created"
                    color="#edcb43"
                    disabled
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.sizeFormated"
                    label="Size"
                    color="#edcb43"
                    disabled
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.updated"
                    label="Updated"
                    color="#edcb43"
                    disabled
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.status"
                    label="Status"
                    color="#edcb43"
                    disabled
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-checkbox
                    v-model="editedItem.deleted"
                    :off-icon="mdiCheckboxBlankOutline"
                    :on-icon="mdiCheckboxMarkedOutline"
                    :indeterminate-icon="mdiMinusBox"
                    :label="`Deleted: ${editedItem.deleted.toString()}`"
                    color="red"
                    flat
                  ></v-checkbox>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-combobox
                    v-model="editedItem.tags"
                    required
                    :rules="inputTagRules"
                    counter="6"
                    append-icon=""
                    solo
                    hint="Press enter to confirm a tag. Double click to edit a tag.."
                    placeholder="Tags*"
                    chips
                    item-color="#edcb43"
                    multiple
                    color="#edcb43"
                    />
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.md5"
                    label="MD5"
                    color="#edcb43"
                    background-color="#242424"
                    disabled
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.tusd_id"
                    label="tusd ID"
                    color="#edcb43"
                    background-color="#242424"
                    disabled
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.title"
                    label="Title"
                    color="#edcb43"
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-textarea
                    color="#edcb43"
                    background-color="#242424"
                    v-model="editedItem.title"
                    label="Description"
                    rows="3"
                    />

                </v-col>

              </v-row>
            </v-container>
          </v-card-text>
          <v-divider />

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text :loading="loading" @click="save"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        {{ mdiPencil }}
      </v-icon>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "../../utils/axios-instance";
import format from "date-fns/format";
import { StatusType } from "@/types";
import parseISO from "date-fns/parseISO";
import {
  mdiPencil,
  mdiMinusBox,
  mdiCheckboxBlankOutline,
  mdiCheckboxMarkedOutline,
} from "@mdi/js";

export default Vue.extend({
  data: () => ({
    mdiPencil,
    mdiMinusBox,
    mdiCheckboxBlankOutline,
    mdiCheckboxMarkedOutline,
    headers: [
      {
        text: "ID",
        align: "start",
        value: "id"
      },
      { text: "Created", value: "created" },
      { text: "User ID", value: "user_id" },
      { text: "Title", value: "title", width: 320 },
      { text: "Status", value: "status" },
      { text: "Size", value: "size" },
      { text: "Deleted", value: "deleted" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    dataloading: false,
    loading: false,
    desserts: [],
    editedIndex: -1,
    dialog: false,
    defaultItem: {
      id: 0,
      created: new Date(),
      deleted: false,
      updated: undefined,
      user_id: "",
      title: "",
      description: "",
      filename: "",
      md5: "",
      thumb_pub_link: [],
      screen_pub_link: [],
      video_pub_link: [],
      size: 0,
      status: 1,
      tusd_id: "",
    },

    inputTagRules: [
      v => (v && v.length >= 3) || "3 tags at least.",
      v => (v && v.length <= 12) || "Maximum is 12 tags.",
      v => {
        v &&
          v.forEach((item, idx) => {
            let re = /,/gi;
            let temp = item.replace(re, "");
            temp = temp.trim();
            if (temp.length <= 1) {
              v.splice(idx, 1);
            } else {
              v[idx] = temp;
            }
          });

        return true;
      }
    ],

    editedItem: {
      id: 0,
      created: new Date(),
      deleted: false,
      updated: undefined,
      user_id: "",
      title: "",
      description: "",
      filename: "",
      md5: "",
      tags: [],
      thumb_pub_link: [],
      screen_pub_link: [],
      video_pub_link: [],
      size: 0,
      status: 1,
      tusd_id: "",
    },


  }),

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.initialize();
  },

  methods: {
    async initialize() {
      await axios
        .get("/admin/dashboard/video")
        .then(resp => {
          const videos = resp.data.yield;
          videos.forEach(video => {
            video.deleted = video.deleted_at ? true : false
            video.created = format(parseISO(video.created_at.toString()), "PP");
            video.updated = format(parseISO(video.updated_at.toString()), "PP");
            video.sizeFormated = video.size > 1e9
            ? (videos.size / 1024 / 1024 / 1024).toFixed(2) + "GB"
            : (video.size / 1024 / 1024).toFixed(2) + "MB";

          })
          this.desserts = videos
          console.log(this.desserts)
        })
        .catch(err => {
          console.log("DASHBOARD Errors: ", err);
        });
      this.dataloading = false;
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    save() {
      this.loading = true;
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }

      const data = {
        id: this.editedItem.id,
        deleted: this.editedItem.deleted,
        title: this.editedItem.title,
        description: this.editedItem.description,
        tags: this.editedItem.tags,
      };

      axios
        .put("/admin/dashboard/video", data)
        .then(_ => {
          const notify = {
            text: "video successfully updated!",
            type: StatusType.success
          };
          this.$store.dispatch("snackbar", notify);
        })
        .catch(_ => {
          this.$store.dispatch("snackbarGenericError");
        });

      this.loading = false;

      this.close();
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

  }

});
</script>
