<template>
  <v-container fluid>
    <v-row class="my-5 flex-child">
      <v-col
        v-for="(video, idx) in getVideos"
        :key="idx"
        class="d-flex"
        xs="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <app-video
          :created="video.created"
          :file-m-d5="video.md5"
          :size="video.size"
          :blob-thumbnail="video.blob_thumb_link"
          :title="video.title"
          :username="video.username"
        ></app-video>
      </v-col>
    </v-row>
    <v-row justify="center" class="my-5">
      <v-btn
        v-if="more"
        :loading="buttonLoading"
        rounded
        color="#edcb43"
        class="black--text"
        @click.prevent="loadMore"
        >load more</v-btn
      >
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { MediaVideo } from "@/types";
import Video from "../media/Video.vue";

export default Vue.extend({
  components: {
    appVideo: Video
  },
  data: () => {
    return {
      buttonLoading: false,
      more: true
    };
  },
  computed: {
    getVideos: function(): Array<MediaVideo> {
      return this.$store.getters.getVideos;
    }
  },

  mounted: function() {
    this.$store.dispatch("getLatestVideos", { vm: this, offset: 0 });
  },
  methods: {
    loadMore: function() {
      this.buttonLoading = true;
      const offs = this.$store.getters.getVideos.length;
      this.$store.dispatch("getLatestVideos", { vm: this, offset: offs });
      this.buttonLoading = false;
    }
  }
});
</script>
