<template>
  <v-container fluid>
    <v-row justify="center" class="pt-5">
      <v-col cols="12" xs="12" sm="10" md="10" lg="10" xl="10" class="pb-0">
        <div class="display-1">
          {{ title }}
        </div>

        <p class="subheading pl-1 grey--text">
          Author:
          <router-link :to="'/user/' + userID">
            <span>{{ username }}</span>
          </router-link>
        </p>
      </v-col>
      <v-col cols="12" xs="12" sm="10" md="10" lg="10" xl="10" class="pt-0">
        <span class="subheading pl-1 grey--text">
          Tags:
        </span>
        <v-chip
          v-for="(tag, idx) in tags"
          :key="idx"
          class="caption ma-2"
          color="#242424"
          small
          text-color="white"
        >
          <v-icon small left>{{ svgLabel }}</v-icon>
          {{ tag }}
        </v-chip>
      </v-col>
    </v-row>
    <v-row justify="center" class="pb-5">
      <v-col cols="12" xs="12" sm="8" md="8" lg="8" xl="8">
        <v-list two-line color="#121212" flat class="mx-0">
          <v-list-item :class="{ 'px-1': $vuetify.breakpoint.xs }">
            <v-list-item-icon class="mr-5">
              <v-icon color="#edcb43">{{ svgFileVideo }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Filename</v-list-item-title>
              <v-list-item-subtitle>{{ filename }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider inset />
          <v-list-item :class="{ 'px-1': $vuetify.breakpoint.xs }">
            <v-list-item-icon class="mr-5">
              <v-icon color="#edcb43">{{ svgPound }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>MD5</v-list-item-title>
              <v-list-item-subtitle>
                {{ hash }}
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-icon
                      dark
                      small
                      class="mx-1"
                      @click.stop.prevent="hashCp"
                      v-on="on"
                      >{{ svgContentCopy }}</v-icon
                    >
                  </template>
                  <span>Copy hash</span>
                </v-tooltip>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider inset />
          <v-list-item :class="{ 'px-1': $vuetify.breakpoint.xs }">
            <v-list-item-icon class="mr-5">
              <v-icon color="#edcb43">{{ svgFlash }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content class="mr-5">
              <v-list-item-title>Size</v-list-item-title>
              <v-list-item-subtitle>{{
                size | toHumanSize
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider inset />
          <v-list-item :class="{ 'px-1': $vuetify.breakpoint.xs }">
            <v-list-item-icon class="mr-5">
              <v-icon color="#edcb43">{{ svgCalendar }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Created</v-list-item-title>
              <v-list-item-subtitle>{{
                created | toHumanDate
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-row justify="center" class="my-5">
          <v-dialog
            v-model="dialog"
            overlay-color="#000"
            :overlay-opacity="0.6"
            width="800"
          >
            <template v-slot:activator="{ on }">
              <v-card elevation="16" color="#242424" :link="true" v-on="on">
                <v-card-title>
                  Click to open preview.
                </v-card-title>
                <v-img
                  max-width="300px"
                  :src="blobThumb"
                  lazy-src="/assets/load.svg"
                  class="grey darken-4 v-image__image--preload"
                ></v-img>
              </v-card>
            </template>
            <v-card>
              <v-img :src="blobScreen" />
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
    </v-row>
    <v-divider class="py-5" />

    <v-row v-if="desc != ''" justify="center" align="center">
      <v-col xs="12" sm="10" md="10" lg="10" xl="10">
        <div class="title">
          About
        </div>
        <p class="font-weight-regular" style="white-space: pre-wrap;">
          {{ desc }}
        </p>
      </v-col>
    </v-row>

    <v-row v-if="showPreview" justify="center" align="center">
      <v-col xs="12" sm="10" md="10" lg="10" xl="10">
        <v-img
          :src="blobScreen"
          lazy-src="/assets/load.svg"
          class="grey darken-4 v-image__image--preload"
        ></v-img>
      </v-col>
    </v-row>

    <v-row justify="center" align="center" class="py-5">
      <v-card class="mx-auto" width="600" outlined>
        <v-row align="center" justify="center">
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title
                class="text-wrap text-center font-weight-medium red black--text"
              >
                WHEN THE DOWNLOAD START DO NOT CLOSE OR RELOAD THIS PAGE!
              </v-list-item-title>

              <v-list-item-subtitle class="text-wrap text-center">
                The file will be decrypted as it is being downloaded.
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>

        <v-divider />

        <v-row v-if="getLink" align="center" justify="center">
          <v-btn
            :loading="getLinkLoading"
            :disabled="getLinkLoading"
            class="black--text my-5"
            color="#edcb43"
            @click="getDownloadLink"
          >
            <v-icon left dark>{{ svgLink }}</v-icon>
            Get Download Link
          </v-btn>
        </v-row>

        <v-row v-else align="center" justify="center" class="my-5">
          <div class="font-weight-black display-1 mb-5 blue--text text-center">
            <p>{{ remaining }}/ {{ maxRemaining }} {{ remaining == 1 ? "DOWNLOAD" : "DOWNLOADS"}}  REMAINING</p>
          </div>
          <div v-if="textStatus">
            <v-icon :color="colorStatus">{{ iconStatus }}</v-icon>
            {{ textStatus }}
          </div>
          <v-btn
            v-else
            color="#edcb43"
            class="black--text"
            :loading="waitFiveSeconds"
            :disabled="waitFiveSeconds"
            @click="atClick"
          >
            <v-icon left>
              {{ svgCloudDownload }}
            </v-icon>
            Decrypt and Download
          </v-btn>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import {} from "@mdi/js";
import {
  mdiExclamationThick,
  mdiAlert,
  mdiCheck,
  mdiFileVideo,
  mdiContentCopy,
  mdiFlash,
  mdiCalendar,
  mdiPound,
  mdiLabel,
  mdiImageAlbum,
  mdiLink,
  mdiCloudDownload
} from "@mdi/js";
import { StatusType } from "@/types";
import axios from "../../utils/axios-instance";
export default Vue.extend({
  props: {
    filename: { type: String, default: "loading..." },
    title: { type: String, default: "loading..." },
    desc: { type: String, default: "" },
    tags: {
      type: Array,
      default: function() {
        return [];
      }
    },
    username: { type: String, default: "null" },
    userID: { type: Number, default: 1 },
    blobScreen: { type: String, default: "/assets/load.svg" },
    blobThumb: { type: String, default: "/assets/load.svg" },
    size: { type: Number, default: 0 },
    created: { type: String, default: "" },
    hash: { type: String, default: "ffffffffffffffffffffffffffffffff" }
  },
  data() {
    return {
      svgExclamationThick: mdiExclamationThick,
      svgAlert: mdiAlert,
      svgCheck: mdiCheck,
      svgFileVideo: mdiFileVideo,
      svgPound: mdiPound,
      svgContentCopy: mdiContentCopy,
      svgFlash: mdiFlash,
      svgCalendar: mdiCalendar,
      svgLabel: mdiLabel,
      svgImageAlbum: mdiImageAlbum,
      svgLink: mdiLink,
      svgCloudDownload: mdiCloudDownload,
      showPreview: false,
      dialog: false,
      getLink: true,
      getLinkLoading: false,
      waitFiveSeconds: true,
      colorStatus: "#fff",
      iconStatus: undefined,
      textStatus: "",
      fileURL: ""
    };
  },

  computed: {
    remaining() {
      return this.$store.getters.getRemaining;
    },
    maxRemaining() {
      return this.$store.getters.getMaxRemaining;
    }
  },

  methods: {
    hashCp: function() {
      navigator.clipboard.writeText(this.hash);
      const notify = {
        text: "hash copied: " + this.hash,
        type: StatusType.success
      };

      this.$store.dispatch("snackbar", notify);
    },

    atClick: function() {
      const down = this.$store.dispatch("blobToDownload", {
        fetchURL: this.fileURL,
        filename: this.filename
      });

      down.then(dec => {
        console.log(dec)
      })
    },

    getDownloadLink: function() {
      this.getLinkLoading = true;
      setTimeout(() => {
        this.getLink = false;
        this.getLinkLoading = false;

        setTimeout(() => {
          this.waitFiveSeconds = false;
        }, 5000);
      }, 3000);

      axios
        .get("/down/" + this.hash)
        .then(resp => {
          const data = resp.data;
          if (data.alert !== undefined) {
            const level = data.alert.level;

            this.iconStatus =
              level === "success"
                ? this.svgCheck
                : this.iconStatus === "warning"
                ? this.svgAlert
                : this.svgExclamationThick;

            this.colorStatus = level;
            this.textStatus = data.alert.message;
          } else {
            this.$store.dispatch("updateRemaining", this.remaining - 1);
            this.fileURL = data.yield.video_pub_link;
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.dispatch("snackbarGenericError");
        });
    }
  }
});
</script>
