<template>
  <v-container fluid class="my-5">
    <h1 class="headline grey--text">
      Latest
    </h1>

    <v-row v-if="isAdmin" class="my-5" justify="center" align="center">
      <v-btn
        rounded
        color="#edcb43"
        class="black--text"
        @click="showCreateAbout = !showCreateAbout"
      >
        <v-icon left>{{ svgNewspaperPlus }}</v-icon>
        New announce
      </v-btn>
    </v-row>

    <v-slide-y-transition>
    <v-row
      v-show="showCreateAbout"
      class="mt-5"
      justify="center"
      align="center"
    >
      <v-col cols="12" sm="8">
        <h1 class="title	 grey--text">
          Create a new announce
        </h1>
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="title"
            :rules="inputTitle"
            required
            placeholder="Title*"
            solo
            color="#edcb43"
            background-color="#242424"
            :prepend-inner-icon="svgFormatText"
          />
          <v-text-field
            v-model="category"
            :rules="inputCategory"
            required
            placeholder="category"
            solo
            color="#edcb43"
            background-color="#242424"
            :prepend-inner-icon="svgCategory"
          />
          <v-textarea
            v-model="description"
            solo
            :rules="inputDesc"
            color="#edcb43"
            background-color="#242424"
            label="Description"
            rows="3"
            :prepend-inner-icon="svgText"
          />

          <v-file-input
            v-model="thumbnail"
            prepend-icon=""
            :prepend-inner-icon="svgFileImage"
            flat
            solo
            color="#edcb43"
            accept="image/*"
            label="Thumbnail"
          />
          <v-btn class="mr-4" :disabled="!valid" @click="submit">
            Submit
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
    </v-slide-y-transition>

    <v-row class="pa-5">
      <!-- Latest update -->
      <vue-timeline-update
        v-for="(ab, idx) in about"
        :key="idx"
        :date="new Date(ab.date)"
        :title="ab.title"
        :description="ab.description"
        :thumbnail="
          ab.thumbnail === '' ? '' : '/assets/thumbnail/' + ab.thumbnail
        "
        :category="ab.category"
        icon="code"
        color="blue"
        style="white-space: pre-wrap;"
      />
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "../utils/axios-instance";
import { Status, StatusType } from "@/types";
import { mapGetters } from "vuex";
import {
  mdiFormatText,
  mdiText,
  mdiCircleEditOutline,
  mdiNewspaperPlus,
  mdiFileImage
} from "@mdi/js";

export default Vue.extend({
  data: () => {
    return {
      svgFormatText: mdiFormatText,
      svgText: mdiText,
      svgCategory: mdiCircleEditOutline,
      svgNewspaperPlus: mdiNewspaperPlus,
      svgFileImage: mdiFileImage,
      title: "",
      description: "",
      category: "",
      showCreateAbout: false,
      thumbnail: undefined,
      valid: false,

      about: [],

      inputTitle: [
        v => (v && v.trim().length >= 3) || "Minimum length is 3 characters.",
        v =>
          (v && v.trim().length <= 256) || "Maximum length is 256 characters."
      ],
      inputCategory: [
        v =>
          v === "" ||
          (v && v.trim().length <= 64) ||
          "Maximum length is 64 characters."
      ],
      inputDesc: [
        v =>
          v === "" ||
          (v && v.trim().length <= 10240) ||
          "Maximum length is 10240 characters."
      ]
    };
  },

  computed: {
    ...mapGetters(["isAdmin"])
  },

  created() {
    this.initialize();
  },

  methods: {
    submit() {
      const about = {
        title: this.title,
        description: this.description,
        category: this.category,
        thumbnail: undefined
      };

      let notify = {} as Status;

      axios
        .post("/admin/about", about)
        .then(resp => {
          notify = {
            text: resp.data.alert.message,
            type: resp.data.alert.level
          };

          if (resp.data.alert.level === StatusType.success && this.thumbnail) {
            const bodyFormData = new FormData();
            bodyFormData.append("file", this.thumbnail);
            bodyFormData.append("id", resp.data.yield);

            axios
              .put("/admin/about", bodyFormData)
              .then(resp => {
                notify = {
                  text: notify.text + " and " + resp.data.alert.message,
                  type: resp.data.alert.level
                };
                this.$refs.form.reset();
                this.$store.dispatch("snackbar", notify);
              })
              .catch(err => {
                console.log(err);
                this.$store.dispatch("snackbarGenericError");
              });
          } else {
            this.$refs.form.reset();
            this.$store.dispatch("snackbar", notify);
          }
        })
        .catch(_ => {
          this.$store.dispatch("snackbarGenericError");
        });
    },

    initialize() {
      axios.get("/about").then(resp => {
        const about = resp.data.yield;
        this.about = about ? about : [];
      });
    }
  }
});
</script>
