<template>
  <app-dashboard />
</template>

<script>
import Dashboard from "../components/Dashboard/Dashboard.vue";

export default {
  components: {
    appDashboard: Dashboard
    //    Sidebar
  }
};
</script>
