<template>
  <app-login />
</template>

<script lang="ts">
import Vue from "vue";
import Login from "../components/Auth/Login.vue";
export default Vue.extend({
  components: {
    appLogin: Login
  }
});
</script>
