<template>
  <v-container fluid>
    <app-upload v-if="this.$route.params.id == getID" />
    <app-user-videos />
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Upload from "../components/Profile/Upload.vue";
import UserVideos from "../components/Profile/UserVideos.vue";
import { mapGetters } from "vuex";
export default Vue.extend({
  components: {
    appUpload: Upload,
    appUserVideos: UserVideos
  },
  computed: {
    ...mapGetters(["getID"])
  }
});
</script>
