<template>
  <tags-app />
</template>

<script>
// @ is an alias to /src
import Tags from "@/components/Tags/Tags.vue";
//import Sidebar from '@/components/Home/Sidebar.vue'

export default {
  name: "Tags",
  components: {
    TagsApp: Tags
    //    Sidebar
  }
};
</script>
